body {
    margin: 0;
    font-family: Arial;
    background: #111;
    color: #fff;
}

header {
    background: #a00000;
    padding: 20px;
    text-align: center;
}

nav {
    background: #222;
    text-align: center;
    padding: 10px;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

.hero img {
    width: 100%;
    height: auto;
}

section {
    padding: 40px;
    max-width: 900px;
    margin: auto;
}

img {
    width: 100%;
    margin-top: 20px;
    border-radius: 10px;
}

footer {
    background: #000;
    text-align: center;
    padding: 20px;
}